@import '../../styles/_vars';

.NoMatch{
	display: flex;
	justify-content: center;

	@media( min-width: 576px){
	}
	@media( min-width: 768px){
	}
	@media( min-width: 992px){
	}

	:global{
		h1{
			text-align: center;
		}
	}
}