@import '../../../styles/_vars';

.FormAddPost{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	@media( min-width: 576px){
	}
	@media( min-width: 768px){
	}
	@media( min-width: 992px){
	}

	
	:global{
		textarea{
		}
	}
}