@import '../../styles/_vars';

.Button{
	padding: 5px 10px;
	background-color: $green-light;
	transition: 0.5s background-color;
	color: $white;
	border: 1px solid $green-light;
	&:hover{
		background-color: $green-dark;
		border: 1px solid $green-dark;
	}
	&:disabled{
		opacity: 0.4;
		cursor: not-allowed
	}

	@media( min-width: 576px){
	}
	@media( min-width: 768px){
	}
	@media( min-width: 992px){
	}

	
	:global{
	}
}