@import '../../styles/_vars';

.Nav{
	background-color: #FAFAFA;
	padding: 20px;
	:global{
		ul{
			list-style-type: none;
			li{
				a{
					text-transform: uppercase;
				}
				a.active{
					color: $green-dark;
				}
			}
		}
	}
}